page-mapa {
  #map {
    height: 100%;
    width: 100%;
  }
  .form {
    position: absolute;
    bottom: 0em;
    background-color: white;
    z-index: 99 !important;
  }
  .scroll-content {
    padding: 0px !important;
  }

  .label-md {
    margin: 0px !important;
  }

  .input-form {
    border: 2px solid;
    border-color: #11997e;
    border-radius: 10px;
  }

  .titulo {
    font-weight: bold;
    font-size: 24px;
  }
}
