page-operacion {
  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: none;
    margin-top: 0.7em;
  }

  .searchbar-md .searchbar-input {
    padding: 0px;
  }
  .searchbar-search-icon {
    display: none;
  }

  .input-form {
    border: 2px solid;
    border-color: #11997e;
    border-radius: 10px;
    margin-bottom: 0.7em;
  }

  .sinPadding .item-inner {
    margin: 0px !important;
  }
  .label-md,
  .list-md {
    margin: 0px;
  }
}
