// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  /* primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222, */
    primary: #11997e,
  danger: #c63545,
  light: #979797,
  gray: #808080,
  dark: #4d4d4d,
  blanco: #ffffff
);

// VARIABLES CSS

/* ++SIZE++ */
.fullWidth {
  width: 100%;
}

.width-90 {
  width: 90% !important;
}

/* ++TEXT ALIGN++ */

.alignCenter {
  text-align: -webkit-center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

/* ++PADDING++ */

.sinPadding {
  padding: 0px !important;
}

/* ++MARGIN++ */
.sinMargin {
  margin: 0px !important;
}

/* ++IMAGES++ */
.avatar {
  margin: 0 auto;
  border-radius: 100%;
  width: 80px;
}

/* ++FONTS++ */

.text-link {
  text-decoration: underline;
}
.text-icon {
  font-size: 1.7em;
}

/* ++IMAGES++ */
.bigway-icon {
  width: 50%;
  padding-bottom: 3em;
  margin-top: 25vh !important;
}

.markerFalse {
  width: 31px;
  height: 51px;
  position: absolute;
  z-index: 999;
}

.divMarker {
  z-index: 1;
  width: 31px;
  height: 51px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52px;
  margin-left: -40px;
  align-items: center;
  justify-content: center;
}
/* ++BACKGROUND++ */
.bgPrimary {
  background-color: #11997e;
}

/* ++STYLE PERSONALIZED++ */

//BOTON

.btn {
  background-color: #11997e;
  margin-top: 15px;
}

//POSITION OF BUTTON

.btnFloat {
  left: 15px;
  top: 15px;
  position: absolute !important;
  z-index: 1 !important;
}

.btnForm {
  margin-top: 20px !important;
  margin-bottom: 15px !important;
  height: 50px !important;
}

.btnCircle {
  border-radius: 100% !important;
  width: 35px !important;
  height: 35px !important;
}

//CUADRO DE INFO
.divInfo {
  color: white;
  padding: 0.5em;
}

//BOTONES EN EL PIE DE PAGINA
.btnFooter {
  margin-top: 50% !important;
}

.width-40 {
  width: 40% !important;
}

//ESTILO DEL ICONO EN EL FORMULARIO
.item-md ion-icon[item-left] + .item-inner {
  margin-left: 0px !important;
}
.item-md ion-icon[item-left] {
  margin-top: 30px !important;
  margin-bottom: -10px !important;
}

//ESTILO EN LA CABECERA DEL MENU
.mainAvatar {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  color: white !important;
}

//STYLE IN THE NAV
.toolbar-background-md {
  background: #11997e;
}
.toolbar-title-md {
  color: white !important;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
