page-trx {
  .img {
    width: 70%;
    margin: 0 auto;
  }
  .show-page {
    border: 30px solid;
    border-color: transparent;
    top: 9em;
  }

  .content,
  .scroll-content {
    height: 380px;
  }
}
