<ion-content padding>
  <ion-grid class="form">
    <ion-row>
      <ion-col>
        <ion-item class="sinPadding">
          <ion-searchbar
            [(ngModel)]="autocompleteOrigen.input"
            (ionInput)="updateSearchResultsOrigen()"
            placeholder="Origen"
            class="sinPadding"
          ></ion-searchbar>
          <ion-list>
            <ion-item
              ><ion-icon name="locate"></ion-icon> Ubicación actual</ion-item
            >
            <ion-item
              ><ion-icon name="briefcase"></ion-icon> Av. La Floresta 497 - San
              Borja</ion-item
            >
            <ion-item
              ><ion-icon name="briefcase"></ion-icon> Aeropuerto Internacional
              Jorge Chávez</ion-item
            >
          </ion-list>
          <ion-list [hidden]="autocompleteItemsOrigen.length == 0">
            <ion-item>Av. La Floresta 497 - San Borja</ion-item>
            <ion-item>Aeropuerto Internacional Jorge Chávez</ion-item>
            <ion-item
              *ngFor="let itemOrigen of autocompleteItemsOrigen"
              tappable
              (click)="selectOrigenResult(itemOrigen)"
            >
              {{ itemOrigen.description }}
            </ion-item>
          </ion-list>
        </ion-item>
        <!-- DIVISION-->
        <ion-item class="sinPadding">
          <ion-searchbar
            [(ngModel)]="autocompleteDestino.input"
            (ionInput)="updateSearchResultsDestino()"
            placeholder="Destino"
            class="sinPadding"
          ></ion-searchbar>
          <ion-list [hidden]="autocompleteItemsDestino.length == 0">
            <ion-item
              *ngFor="let itemDestino of autocompleteItemsDestino"
              tappable
              (click)="selectDestinoResult(itemDestino)"
            >
              {{ itemDestino.description }}
            </ion-item>
          </ion-list>
        </ion-item>
        <button
          ion-button
          class="fullWidth btn"
          (click)="openTarifaPage()"
          id="boton"
          *ngIf="trf"
        >
          Confirmar solicitud
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
