<ion-content padding>
  <ion-grid class="form">
    <ion-row>
      <ion-col>
        <ion-item class="sinPadding input-form" [hidden]="focus">
          <ion-input type="text" [(ngModel)]="puntoGPS"></ion-input>
          <ion-icon name="pin" item-right color="primary"></ion-icon>
        </ion-item>
        <ion-item class="sinPadding" [hidden]="!focus">
          <ion-searchbar
            [(ngModel)]="autocompleteOrigen.input"
            (ionInput)="updateSearchResultsOrigen()"
            placeholder="Origen"
            class="sinPadding input-form"
          ></ion-searchbar>
          <ion-list [hidden]="autocompleteItemsOrigen.length == 0">
            <ion-item
              *ngFor="let itemOrigen of autocompleteItemsOrigen"
              tappable
              (click)="selectOrigenResult(itemOrigen)"
            >
              {{ itemOrigen.description }}
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="sinPadding" *ngIf="focus">
          <ion-list *ngFor="let lugar of lugares">
            <ion-item>
              <ion-icon name="heart" color="primary"></ion-icon>
              {{ lugar.nombre }}
            </ion-item>
          </ion-list>
        </ion-item>

        <!-- DIVISION-->
        <ion-item class="sinPadding">
          <ion-searchbar
            [(ngModel)]="autocompleteDestino.input"
            (ionInput)="updateSearchResultsDestino()"
            placeholder="Destino"
            class="sinPadding input-form"
          ></ion-searchbar>
          <ion-list [hidden]="autocompleteItemsDestino.length == 0">
            <ion-item
              *ngFor="let itemDestino of autocompleteItemsDestino"
              tappable
              (click)="selectDestinoResult(itemDestino)"
            >
              {{ itemDestino.description }}
            </ion-item>
          </ion-list>
        </ion-item>
        <div #map2 id="map2" style="height: 324px;"></div>
        <span
          *ngIf="trf"
          style="font-size:2em"
          class="text-center border border-success"
          >Precio: {{ tarifa }}</span
        >
        <button
          ion-button
          class="fullWidth btn"
          (click)="aceptarViaje()"
          id="boton"
          *ngIf="trf"
        >
          Buscar un Bigway
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
